// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

// Remove underline below fontawesome icons
.fa-solid {
   text-decoration: none;
}

.fa-brands {
   text-decoration: none;
}

.ai {
   text-decoration: none;
}

